.wrapper__kursusonline {
    background-color: #FCFCFC;
}

.hero-courses {
    width: 110%;
    margin-left: 1rem;
    margin-top: 5rem; 
}

.text-courses h1 {
    margin-top: 13rem;
    margin-bottom: 2rem;
    font-size: 50px;
    color: #C9E265;
}

.text-courses h2 {
   font-size: 33px;
}

.text-courses b {
    color: #1F8F4A;
}

.input-group {
    margin-top: 2rem;
}

.shape-courses {
    display: flex;
    overflow-x: hidden;
    margin-top: -3rem;
}

.text-kursus h1 {
    margin-top: 5rem;
    font-size: 48px;
}

.text-kursus p {
    margin-bottom: 4rem;
}

.text-kursus b {
    color: #1F8F4A;
}

.btn-center {
    position: relative;
    left: 11px;
    margin-bottom: 2rem
}

.btn-kursusonline {
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: #ffffff;
    color: #1F8F4A;
    border: 1px solid #1F8F4A;
    cursor: pointer;
}

.btn-kursusonline:hover {
    background-color: #1F8F4A;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

/* Card Kursus Online */

.wrapper-cardkursus {
    margin-top: 1rem;
    padding-bottom: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.card-courses {
    margin-top: 3rem;
    padding-top: 20px;
    padding-bottom: 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 #d1d1d1;
    border-radius: 1rem;
}

.card-courses img:hover{
    transform: scale(0.97);
    filter: brightness(0.8);
    transition: all 0.1s ease-in-out;
}

.card-title i {
    font-size: 23px;
    margin-left: 15px;
    color: #FFC27A;
}

.card-title h5 {
    font-weight: 500;
}

.card-title p {
    font-size: 22px;
}

.card-pricing h5 {
    font-size: 23px;
    font-weight: 700;
}

.card-pricing {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.card-pricing a {
    font-size: 23px;
    margin-top: -1rem;
    margin-left: 7.5rem;
    padding-top: 10px;
    background-color: #1F8F4A;
    color: #ffffff;
    width: 17%;
    border-radius: 8px;
}

.card-pricing a:hover {
    background-color: #0AB04A;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}
