.wrapper__login {
    overflow-x: hidden;
}

.wrapper__login h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 3rem;
}

.back-login i {
	position: absolute;
	left: 3rem;
	top: 2rem;
	cursor: pointer;
    color: #F9F9F9;
    font-size: 3rem;
}

.text-login i {
    font-size: 30px;
    color: #C9E265;
    margin-right: 2rem;
    margin-top: 5rem;
}

.form-login i {
    color: #1F8F4A;
    font-size: 25px;
    position: absolute;
    top: 13px;
    left: 23rem;
    cursor: pointer;
}

.form-logindaftar i {
    color: #1F8F4A;
    font-size: 25px;
    position: absolute;
    top: 13px;
    left: 23rem;
    cursor: pointer;
}

.text-login {
    margin-top: -30rem;
    margin-left: 4rem;
}

.text-login h5 {
    margin-top: 3rem;
    margin-bottom: 6rem;
    color: #ffffff;
}  

.form-login {
    margin-top: -46rem;
    background-color: #F9F9F9;
    padding-top: 8rem;
    padding-bottom: 11.7rem;
    margin-left: 3rem;
    border-radius: 4rem 0 0 4rem;
}

.form-logindaftar {
    margin-top: -46rem;
    background-color: #F9F9F9;
    padding-top: 5rem;
    padding-bottom: 7rem;
    margin-left: 3rem;
    border-radius: 4rem 0 0 4rem;
}

.formlogin-box {   
    padding-left: 10rem;
    padding-right: 10rem;
}

.formlogin-box a {
    color: #1F8F4A;
    text-decoration: none;
}

.btn-login a {
    margin-top: 2rem;
    background-color: #1F8F4A;
    color: #ffffff;
    width: 55%;
    font-size: 17px;
    font-weight: 500;
}

.btn-login a:hover {
    background-color: #0AB04A;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.text-auth p {
    font-size: 16px;
    font-weight: 500;
}

.text-auth a {
    color: #1F8F4A;
    text-decoration: none;
}
