.wrapper__hero {
    overflow-x: hidden;
    background-color: #fcfcfc;
}

.hero__img {
    margin-top: 3rem;
    margin-left: 10rem; 
}

.hero-shape {
    z-index: 1;
}

.hero-shape1 {
    display: flex;
    overflow-x: hidden;
    margin-top: 5rem;
}

.wrapper-tagline h1 {   
    margin-top: -28rem;
    color: black;
    font-size: 40px;
    margin-bottom: 5rem;
}

.wrapper-tagline b {
    color: #1F8F4A;
}

.wrapper-tagline p {
    color: black;
    font-size: 16px;
    margin-top: -3rem;
}

.btn-herohome a {
    text-align: center;
    border-radius: 25px;
    font-size: 20px;
    width: 22%;
    margin-top: 2rem;
    background-color: #ffffff;
    color: #1F8F4A;
    border: 2px solid #1F8F4A;
}

.btn-herohome a:hover {
    background-color: #0AB04A;
    color: #ffffff;
    border: 2px solid #0AB04A;
    transition: all 0.3s ease-in-out;
}

/* Mitra */

.wrapper__mitra {
    margin-top: 8rem;
}

.text-mitra {
    margin-top: 6rem;
}

.text-mitra p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 18px;
}

.text-mitra b {
    color: #1F8F4A;
}

.text-mitra a {
    font-size: 17px;
    font-weight: 500;
    width: 25%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    background-color: #1F8F4A;
    color: #ffffff;
}

.text-mitra a:hover {
    background-color: #0AB04A;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.mitra-icon {
    margin-left: 5rem;
}

/* Kelebihan */

.wrapper__kelebihan {
    margin-top: 8rem;
}

.text-kelebihan h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 48px;
}

.text-kelebihan b {
    color: #1F8F4A;
}

.text-kelebihan p {
    font-size: 16px;
    margin-bottom: 3rem;
}

.text-card h5{
    font-size: 20px;
}

.text-card p {
    font-size: 16px;
}

.kelebihan-img {
    margin-top: 2rem;
}

.card-kelebihan {
    background-color: #F9f9f9;
    border-radius: 1rem;
    box-shadow: 0 3px 6px 0 #d4d3d3;
    margin-bottom: 2rem;
    margin-left: 4rem;
}

/* Comment */

.wrapper__comment {
    padding-top: 5rem;
    padding-bottom: 8rem;
    background-color: #fcfcfc;
}

.wrapper__comment b {
    color: #1F8F4A;
}

.wrapper__comment h1 {
    font-size: 35px;
}

.wrapper__comment p {
    font-size: 16px;
}

.btn-comment a {
    margin-top: 2rem;
    font-size: 16px;
    font-weight: 500;
    width: 20%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    background-color: #1F8F4A;
    color: #ffffff;
}

.btn-comment a:hover {
    background-color: #0AB04A;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}