.wrapper__footer {
    background-color: #1F8F4A;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.wrapper__footer p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.wrapper__footer h5 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #C9E265;
}

.tautan-cepat a {
    display: flex;
    flex-flow: column;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.tautan-cepat a:hover {
    color: #C9E265;
    transition: all 0.1s ease-in-out;
}

.layanan-kami a {
    display: flex;
    flex-flow: column;
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.layanan-kami a:hover {
    color: #C9E265;
    transition: all 0.1s ease-in-out;
}

.layanan-kami {
    margin-left: 4rem;
}

.tentang-kami i {
    font-size: 30px;
    color: #C9E265;
    margin-right: 2rem;
}

.icon-footer {
    font-size: 18px;
    color: #ffffff;
}

.icon-footer i {
    color: #C9E265;
}

.kontak-kami i {
    font-size: 20px;
    color: #C9E265;
}

.kontak-kami {
    margin-left: 3rem;
}

.line {
    border-top: 3px solid #ffffff;
    margin-top: 2rem;
}

.wrapper_copyright {
    text-align: center;
    margin-top: 2rem;
    color: #ffffff;
}

.wrapper_copyright b {
    color: #C9E265;
}