.wrapper__tim {
    padding-top: 5rem;
    padding-bottom: 8rem;
    background-color: #FCFCFC;
}

.text-tim {
    text-align: center;
    margin-bottom: 2rem;
}

.text-tim b {
    color: #1F8F4A;
}

.card-tim {
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
    padding-top: 10px;
    padding-bottom: 1rem;
    background-color: #ffffff;
    box-shadow: 0 2px 10px 0 #d1d1d1;
    border-radius: 1rem;
}

.card-tim img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.card-tim img:hover{
    transform: scale(0.97);
    filter: brightness(0.8);
    transition: all 0.1s ease-in-out;
}

.card-tim h5 {
    margin-top: 2rem;
}

.card-tim i {
    font-size: 25px;
    color: #1F8F4A;
}