.wrapper__feedback {
    padding-top: 3rem;
    padding-bottom: 6rem;
    background-color: #EDFFF0;
}

.text-feedback {
    margin-bottom: 2rem;
}

.text-feedback h1 {
    font-size: 35px;
}

.text-feedback b {
    color: #1F8F4A;
}

.card-feedback {
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
    padding-top: 10px;
    padding-bottom: 1rem;
    background-color: #ffffff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.card-feedback img:hover{
    transform: scale(0.97);
    filter: brightness(0.8);
    transition: all 0.1s ease-in-out;
}

.icon-quote {
    margin-left: 10rem;
}